@import '../styles/variables';

.projects-page {
  margin-top: 7rem;
  padding: 0rem 8vw;
  background-color: $color-bg;

  h2 {
    // darken($color-primary, 2%);
    font-size: 2.5rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  }
}
